<div class="mailHeader">
    <button class="dropbtn">Gmail</button>
    <input id="Filter" value="Type here to filter"/>
    <button class="allbtn"><input type="checkbox"/>All</button>
    <button class="archivebtn">Archive</button>
    <button class="spambtn">Add to spam</button>
    <button class="removebtn">Remove</button>
    <button class="moveTobtn">Move to folder</button>
    <button class="tagbtn">Give tag</button>
    <button class="updateMailList">Update mail list</button>
    <input class="mailCount" value="1-50 from 100"/>
    <button class="prevbtn">Prev</button>
    <button class="nextbtn">Next</button>
</div>