<div class="mailHeader" fxLayout="row" fxLayoutAlign=" center">
    <div>
        <button mat-button class="dropbtn" [matMenuTriggerFor]="menu">Gmail</button>
    </div>
    <div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Gmail</button>
            <button mat-menu-item>Contacts</button>
        </mat-menu>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input id="Filter" matInput placeholder="Type here to filter">
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox>All</mat-checkbox>
    </div>
    <div>
        <button mat-button class="archivebtn">Archive</button>
    </div>
    <div>
        <button mat-button class="spambtn">Add to spam</button>
    </div>
    <div>
        <button mat-button class="removebtn">Remove</button>
    </div>
    <div>
        <button mat-button class="updateMailList">Update mail list</button>
    </div>
    <div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>